EXPO_PUBLIC_API_URL=http://192.168.0.105:5000/api
EXPO_PUBLIC_WEB_APP_URL=http://192.168.0.105:5173 # https://hrms-mirus.com (in production)
EXPO_PUBLIC_PRIVACY_POLICY_URL=https://hrms-mirus.com/privacy-policy
EXPO_PUBLIC_ACCOUNT_DELETION_URL=https://hrms-mirus.com/account-deletion